@charset "UTF-8";

@font-face {
    font-family: "LanaPixel";
    font-weight: normal;
    font-style: normal;
    src: url("fonts/LanaPixel_NoKorean.ttf") format("truetype");
}

@font-face {
    font-family: "Determination Mono Web";
    font-weight: normal;
    font-style: normal;
    src: url("fonts/DeterminationMonoWebRegular-Z5oq.ttf") format('truetype');
}

@font-face {
    font-family: "Cat Font";
    font-weight: normal;
    font-style: normal;
    src: url("fonts/Cat font by Peter Vasvari.ttf") format('truetype');
}

body {
    /* set font */
    font-family: "LanaPixel", "sans";
}

code {
    /* set code font */
    font-family: "Determination Mono Web", "LanaPixel", "monospace";
    /* set the code block to wrap automatically  */
    white-space: pre-wrap;
}

.cat-font {
    font-family: "Cat Font", "LanaPixel", "sans";
}

/* reset default css, align code blocks in the list */
.post-content ul pre {
    margin-inline-start: inherit;
}